.perrito-malvado {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.sizingTitleRecipe {
    font-size: 1.5rem;
    font-weight: bold;
}

.sizingDescriptionRecipe {
    font-size: 1rem;
}